.web-page-container {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #e1dfdf;
}
.web-page-container .worth-body-wrapper {
  background-color: rgb(253, 253, 253);
  position: relative;
  top: -5em;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  box-shadow: -1px 0px 21px 6px #999999;
  padding: 2rem;
}
.web-page-container .worth-body-wrapper .worth-content-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 60%;
  margin: 2em 20%;
}
.web-page-container .worth-body-wrapper .worth-content-wraper .image-title {
  position: relative;
  left: 30%;
}
.web-page-container .worth-body-wrapper .worth-content-wraper h3 {
  font-weight: 300;
}
.web-page-container .worth-body-wrapper .grid-tag-social {
  display: grid;
  grid-template-columns: 50% 80%;
  gap: 4em;
}
.web-page-container .worth-body-wrapper .grid-tag-social .categories {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.web-page-container .worth-body-wrapper .grid-tag-social .categories p {
  font-size: 13px;
}
.web-page-container .worth-body-wrapper .grid-tag-social .categories button {
  color: white;
  text-align: center;
  width: 9em;
  height: 20px;
  padding: 16px;
  border-radius: 30px;
  background-color: red;
  padding: 2px;
  font-size: 11px;
  border: none;
}
.web-page-container .worth-body-wrapper .grid-tag-social .categories button:hover {
  box-shadow: 0px 12px 20px 0px #f9c8c8;
  cursor: pointer;
}
.web-page-container .worth-body-wrapper .grid-tag-social .tag-photo p {
  font-size: 13px;
}
.web-page-container .worth-body-wrapper .grid-tag-social .tag-photo span {
  color: red;
}
.web-page-container .worth-body-wrapper .grid-tag-social .social-media-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  top: 2em;
  width: 100%;
  gap: 5px;
}
.web-page-container .worth-body-wrapper .grid-tag-social .social-media-wrapper a {
  font-size: 40px;
}
.web-page-container .worth-body-wrapper .h-line {
  width: 100%;
  border: none;
  border-top: 1px solid rgb(186, 184, 184);
}
.web-page-container .worth-posts-wrapper h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 2em;
}
.web-page-container .worth-posts-wrapper .post-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: 84%;
  margin: auto;
}
.web-page-container .worth-posts-wrapper .post-wrapper .hover-link:hover {
  color: rgb(186, 184, 184);
}
.web-page-container .worth-posts-wrapper .post-wrapper a {
  text-decoration: none;
}
.web-page-container .worth-posts-wrapper .post-wrapper .elements-section {
  background-color: #f3f1f1;
  border-radius: 5px;
  box-shadow: 2px 1px 6px 1px #7a7a7a;
  padding: 20px;
}
.web-page-container .worth-posts-wrapper .post-wrapper .elements-section .pu-color-link {
  color: purple;
}
.web-page-container .worth-posts-wrapper .post-wrapper .more-tag-section {
  background-color: #f3f1f1;
  border-radius: 5px;
  box-shadow: 2px 1px 6px 1px #7a7a7a;
  padding: 20px;
}
.web-page-container .worth-posts-wrapper .post-wrapper .more-tag-section .blue-color-link {
  color: rgb(18, 125, 240);
}
.web-page-container .worth-posts-wrapper .post-wrapper .html-section {
  background-color: #f3f1f1;
  border-radius: 5px;
  box-shadow: 2px 1px 6px 1px #7a7a7a;
  padding: 20px;
}
.web-page-container .worth-posts-wrapper .post-wrapper .html-section .red-color-link {
  color: rgb(250, 42, 42);
}
.web-page-container .worth-posts-wrapper .post-wrapper .html-section p .bluecolor-link {
  color: rgb(18, 125, 240);
}
.web-page-container .worth-footer-wrapper {
  position: relative;
  top: 5em;
  background-color: rgb(53, 52, 52);
  height: 6em;
  width: 100%;
  z-index: 3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.web-page-container .worth-footer-wrapper .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  margin: 0 4em 0 7em;
  color: white;
}
.web-page-container .worth-footer-wrapper .footer-content .footer-left {
  margin-left: 20px;
}
.web-page-container .worth-footer-wrapper .footer-content .footer-left a {
  color: white;
  margin-right: 7em;
  text-decoration: none;
  font-size: 14px;
}
.web-page-container .worth-footer-wrapper .footer-content .footer-left a:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .worth-page-container .worth-body-wrapper .worth-content-wraper .grid-tag-social {
    display: grid;
    grid-template-rows: 1fr 1fr !important;
    grid-template-columns: 1fr !important;
    gap: 2em;
  }
  .worth-page-container .worth-body-wrapper .worth-content-wraper .grid-tag-social .social-media-wrapper {
    justify-content: flex-start;
    position: relative;
    top: 0;
    left: 0;
  }
  .worth-footer-wrapper {
    height: 10em;
  }
  .worth-footer-wrapper .footer-content {
    flex-direction: column;
    padding: 3em;
    margin: 0;
  }
  .worth-footer-wrapper .footer-content .footer-left a {
    margin-top: 10em !important;
    margin-right: 1em !important;
  }
}
@media screen and (max-width: 768px) {
  .worth-page-container .worth-hero-wrapper {
    height: 20em;
  }
  .worth-page-container .worth-hero-wrapper h1 {
    top: 3em;
  }
  .worth-page-container .worth-hero-wrapper p {
    top: 5em;
  }
  .worth-page-container .worth-body-wrapper {
    width: 100% !important;
    margin: 0;
    border-radius: 0;
    padding: 0;
  }
  .worth-page-container .worth-body-wrapper .worth-content-wraper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 90% !important;
    margin: 2em 1em !important;
  }
  .worth-page-container .worth-body-wrapper .worth-content-wraper img {
    margin-top: 2em;
  }
  .worth-page-container .worth-body-wrapper .worth-content-wraper .h-line {
    margin-bottom: 4em;
  }
  .worth-page-container .worth-posts-wrapper h1 {
    font-size: 2em !important;
    color: red;
    margin-bottom: 2em;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 2fr !important;
    gap: 40px !important;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .hover-link:hover {
    color: rgb(186, 184, 184);
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper a {
    text-decoration: none;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .elements-section {
    background-color: #f3f1f1;
    border-radius: 5px;
    box-shadow: 2px 1px 6px 1px #7a7a7a;
    padding: 20px;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .elements-section .pu-color-link {
    color: purple;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .more-tag-section {
    background-color: #f3f1f1;
    border-radius: 5px;
    box-shadow: 2px 1px 6px 1px #7a7a7a;
    padding: 20px;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .more-tag-section .blue-color-link {
    color: rgb(18, 125, 240);
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .html-section {
    background-color: #f3f1f1;
    border-radius: 5px;
    box-shadow: 2px 1px 6px 1px #7a7a7a;
    padding: 20px;
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .html-section .red-color-link {
    color: rgb(250, 42, 42);
  }
  .worth-page-container .worth-posts-wrapper .post-wrapper .html-section p .bluecolor-link {
    color: rgb(18, 125, 240);
  }
}/*# sourceMappingURL=worth-a-th.css.map */