@mixin more-button($border-radius, $width) {
  color: white;
  text-align: center;

  width: $width;
  height: 20px;
  padding: 16px;
  border-radius: $border-radius;
  background-color: red;
  &:hover {
    box-shadow: 0px 12px 20px 0px #f9c8c8;
    cursor: pointer;
  }
}

html,
body {
  padding: 0px;
  margin: 0px;
}
