@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  padding: 0px;
  margin: 0px;
}

header {
  position: fixed;
  width: 100%;
  height: 5em;
  background-color: white;
  z-index: 3;
  box-shadow: 0px 5px 12px 0px #999999;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
}
header nav a {
  text-decoration: none;
}
header nav .hestia-nav :hover {
  color: rgb(147, 145, 145);
  cursor: pointer;
}
header nav .right-nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
header nav .right-nav .nav-item :hover {
  color: red;
}
header nav .right-nav .more-button {
  color: white;
  text-align: center;
  width: 60px;
  height: 20px;
  padding: 16px;
  border-radius: 40px;
  background-color: red;
}
header nav .right-nav .more-button:hover {
  box-shadow: 0px 12px 20px 0px #f9c8c8;
  cursor: pointer;
}

.page-container .hero-wrapper {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #260101;
}
.page-container .hero-wrapper .image-wrapper {
  opacity: 0.5;
}
.page-container .hero-wrapper .image-wrapper .hero-image-back {
  margin-top: 5em;
  width: 100%;
}
.page-container .hero-wrapper .image-wrapper .hero-image-front {
  position: absolute;
  left: 0;
  width: 100%;
}
.page-container .hero-wrapper .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 43%;
  left: 29%;
  color: white;
}
.page-container .hero-wrapper h1 {
  font-size: clamp(2rem, 5vw, 6rem);
}
.page-container .hero-wrapper p {
  margin-top: 0px;
}
.page-container .hero-wrapper .see-more-button {
  color: white;
  text-align: center;
  width: 6em;
  height: 20px;
  padding: 16px;
  border-radius: 4px;
  background-color: red;
  margin: 3em;
}
.page-container .hero-wrapper .see-more-button:hover {
  box-shadow: 0px 12px 20px 0px #f9c8c8;
  cursor: pointer;
}
.page-container .body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1%;
  top: 1000px;
  width: 98%;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  box-shadow: -1px 0px 21px 6px #999999;
  margin: auto;
}
.page-container .body-wrapper h2 {
  font-size: clamp(1rem, 3vw, 4rem);
  padding: 0 0 1.5em 0;
}
.page-container .body-wrapper .feature-set {
  display: flex;
  justify-content: center;
  gap: 15em;
  text-align: center;
}
.page-container .body-wrapper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container .body-wrapper p {
  width: 13em;
  color: rgb(147, 145, 145);
}
.page-container .body-wrapper .about-content-wrapper {
  position: relative;
  top: 10em;
  background-image: url("../../assets/home/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.page-container .body-wrapper .about-content-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.page-container .body-wrapper .about-content-wrapper .foreground-wrapper {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  height: 400px;
  place-items: center;
  margin: auto;
}
.page-container .body-wrapper .about-content-wrapper .about-text-content {
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.page-container .body-wrapper .about-content-wrapper .about-text-content h2 {
  font-size: 3em;
  font-weight: 400;
  padding: 0;
}
.page-container .body-wrapper .about-content-wrapper .about-text-content p {
  color: white;
  width: 30em;
}
.page-container .body-wrapper .about-content-wrapper img {
  width: 60%;
}
.page-container .body-wrapper .blog-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 13em;
}
.page-container .body-wrapper .blog-section h2 {
  font-size: clamp(1rem, 3vw, 4rem);
  padding: 0 0 1.5em 0;
}
.page-container .body-wrapper .blog-section .blogs-wrapper {
  display: flex;
  justify-content: center;
  gap: 20em;
  text-align: left;
}
.page-container .body-wrapper .blog-section .blogs-wrapper .blog-worth {
  color: purple;
}
.page-container .body-wrapper .blog-section .blogs-wrapper .blog-more-tag {
  color: red;
}
.page-container .body-wrapper .blog-section .blogs-wrapper .blog-elements {
  color: rgb(30, 167, 251);
}
.page-container .body-wrapper .blog-section .blog {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.page-container .body-wrapper .blog-section .blog a {
  text-decoration: none;
}
.page-container .body-wrapper .blog-section p {
  width: 18em;
  color: rgb(147, 145, 145);
}
.page-container .body-wrapper .contact-wrapper {
  position: relative;
  top: 20em;
  background-image: url("../../assets/home/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
}
.page-container .body-wrapper .contact-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.page-container .body-wrapper .contact-wrapper .contact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
  position: relative;
  left: 12em;
  z-index: 2;
  height: 500px;
}
.page-container .body-wrapper .contact-wrapper .contact-section .location {
  display: flex;
  align-items: center;
  gap: 1em;
}
.page-container .body-wrapper .contact-wrapper .contact-section .location i {
  font-size: 2em;
}
.page-container .body-wrapper .contact-wrapper .info-section,
.page-container .body-wrapper .contact-wrapper h3 {
  color: white;
}
.page-container .body-wrapper .contact-wrapper h3 {
  font-size: 2em;
  padding: 3em 0 1em 0;
}
.page-container .body-wrapper .contact-wrapper p {
  color: white;
  width: 30em;
  margin: 0 0 2em 2.4em;
}
.page-container .footer-wrapper {
  background-color: rgb(53, 52, 52);
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 20px 40px;
}
.page-container .footer-wrapper .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.page-container .footer-wrapper .footer-content .footer-left a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 14px;
}
.page-container .footer-wrapper .footer-content .footer-left a:hover {
  cursor: pointer;
}
.page-container .footer-wrapper .footer-content .footer-right {
  font-size: 14px;
  text-align: right;
}/*# sourceMappingURL=main.css.map */