.page-container {
  .hero-wrapper {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: rgba($color: #260101, $alpha: 1);

    .image-wrapper {
      opacity: 0.5;

      .hero-image-back {
        margin-top: 5em;
        width: 100%;
      }
      .hero-image-front {
        position: absolute;

        left: 0;
        width: 100%;
      }
    }
    .hero-content {
      display: flex;
      flex-direction: column;

      align-items: center;
      position: absolute;
      top: 43%;
      left: 29%;
      color: white;
    }
    h1 {
      font-size: clamp(2rem, 5vw, 6rem);
    }
    p {
      margin-top: 0px;
    }
    .see-more-button {
      @include more-button($border-radius: 4px, $width: 6em);
      margin: 3em;
    }
  }

  .body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1%;
    top: 1000px;
    width: 98%;
    border-radius: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: -1px 0px 21px 6px #999999;
    margin: auto;

    h2 {
      font-size: clamp(1rem, 3vw, 4rem);
      padding: 0 0 1.5em 0;
    }

    .feature-set {
      display: flex;
      justify-content: center;
      gap: 15em;
      text-align: center;
    }
    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    p {
      width: 13em;
      color: $gray-color;
    }

    .about-wrapper {
      .about-content-wrapper {
        position: relative;
        height: 700px;
        background-image: url("../../assets/home/slider1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }
    }
  }
}
