.page-container .hero-wrapper {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-color: #260101;
}
.page-container .hero-wrapper .image-wrapper {
  opacity: 0.5;
  overflow-y: hidden;
}
.page-container .hero-wrapper .image-wrapper .hero-image-back {
  margin-top: 5em;
  width: 100%;
}
.page-container .hero-wrapper .image-wrapper .hero-image-front {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
}
.page-container .hero-wrapper .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 17em;
  left: 29%;
  color: white;
}
.page-container .hero-wrapper h1 {
  font-size: clamp(3rem, 5vw, 6rem);
}
.page-container .hero-wrapper p {
  margin-top: 0px;
}
.page-container .hero-wrapper .see-more-button {
  color: white;
  text-align: center;
  width: 6em;
  height: 20px;
  padding: 16px;
  border-radius: 4px;
  background-color: #e91e63;
  margin: 3em;
}
.page-container .hero-wrapper .see-more-button:hover {
  box-shadow: 0px 12px 20px 0px #f9c8c8;
  cursor: pointer;
}
.page-container .body-wrapper {
  background-color: rgb(253, 253, 253);
  position: relative;
  width: 90%;
  margin: -5em auto;
  border-radius: 10px 10px 0 0;
  box-shadow: -1px 0px 21px 6px #999999;
  padding: 2rem 2rem 0 2rem;
}
.page-container .body-wrapper .body-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
  gap: 5em;
}
.page-container .body-wrapper .body-content-wrapper h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  padding: 0 0 1.5em 0;
}
.page-container .body-wrapper .body-content-wrapper .feature-set {
  display: flex;
  justify-content: center;
  gap: clamp(2rem, 4em, 5rem);
  text-align: center;
}
.page-container .body-wrapper .body-content-wrapper .feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container .body-wrapper .body-content-wrapper p {
  width: 13em;
  color: rgb(147, 145, 145);
}
.page-container .body-wrapper .body-content-wrapper .about-content-wrapper {
  background-image: url("../../assets/home/slider1.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 105.4%;
}
.page-container .body-wrapper .body-content-wrapper .about-content-wrapper .foreground-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  grid-template-columns: 50% 50%;
  height: 600px;
  place-items: center;
  margin: auto;
}
.page-container .body-wrapper .body-content-wrapper .about-content-wrapper .about-text-content {
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.page-container .body-wrapper .body-content-wrapper .about-content-wrapper .about-text-content h2 {
  font-size: 3em;
  font-weight: 400;
  padding: 0;
  margin-left: 20%;
}
.page-container .body-wrapper .body-content-wrapper .about-content-wrapper .about-text-content p {
  font-size: 1.3em;
  color: white;
  width: 90%;
  margin-left: 20%;
}
.page-container .body-wrapper .body-content-wrapper .about-content-wrapper img {
  width: 60%;
}
.page-container .body-wrapper .body-content-wrapper .blog-title {
  font-size: clamp(2rem, 3vw, 4rem);
  padding: 0 0 1.5em 0;
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper {
  display: flex;
  margin-left: 7em;
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper .worth-section .blog-worth {
  color: purple;
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper .blog-more-tag {
  color: red;
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper .more-blog {
  padding-left: 2em;
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper .blog-elements {
  color: rgb(30, 167, 251);
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blog {
  display: flex;
  flex-direction: column;
}
.page-container .body-wrapper .body-content-wrapper .blog-section .blog a {
  text-decoration: none;
}
.page-container .body-wrapper .body-content-wrapper .blog-section p {
  width: 18em;
  color: rgb(147, 145, 145);
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper {
  background-image: url("../../assets/home/slider1.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 105.4%;
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper .contact-section {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 500px;
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper .contact-section .location {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 6.5em;
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper .contact-section .location i {
  font-size: 2em;
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper .info-section,
.page-container .body-wrapper .body-content-wrapper .contact-wrapper h3 {
  color: white;
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper h3 {
  font-size: 2em;
  padding: 3em 0 1em 0;
  margin-left: 3em;
}
.page-container .body-wrapper .body-content-wrapper .contact-wrapper p {
  color: white;
  width: 30em;
  margin: 0 0 2em 9em;
}

@media screen and (max-width: 1000px) {
  .page-container .hero-wrapper .hero-content {
    top: 21%;
  }
  .page-container .body-wrapper .body-content-wrapper {
    margin-bottom: 5em;
  }
  .page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper {
    flex-direction: column;
    margin-left: 0;
    gap: 6em;
    text-align: center;
  }
  .page-container .body-wrapper .body-content-wrapper .blog-section .blogs-wrapper .more-blog {
    padding-left: 0;
  }
  .page-container .body-wrapper .body-content-wrapper .blog-section .blog {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .page-container .hero-wrapper .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
  }
  .page-container .hero-wrapper .image-wrapper .hero-image-back {
    margin-top: 5em;
    width: auto;
    height: 100%;
    max-width: none;
    -o-object-fit: cover;
       object-fit: cover;
    overflow-x: hidden;
  }
  .page-container .hero-wrapper .image-wrapper .hero-image-front {
    display: block;
    margin-top: 5em;
    height: 100%;
    max-width: 100vw;
    -o-object-fit: cover;
       object-fit: cover;
    overflow-x: hidden;
  }
  .page-container .hero-wrapper .hero-content {
    top: 46%;
    left: 22%;
  }
  .page-container .body-wrapper {
    width: 100%;
    top: 0;
    margin: 0 auto;
    border-radius: 0;
    padding: 2em 0 0 0;
  }
  .page-container .body-wrapper .body-content-wrapper .feature-set {
    flex-direction: column;
    gap: 3%;
  }
  .page-container .body-wrapper .body-content-wrapper .feature {
    flex-direction: column;
    align-items: center;
  }
  .page-container .body-wrapper .body-content-wrapper p {
    width: 90%;
  }
  .page-container .body-wrapper .body-content-wrapper .about-content-wrapper {
    width: 100%;
  }
  .page-container .body-wrapper .body-content-wrapper .about-content-wrapper .foreground-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
  }
  .page-container .body-wrapper .body-content-wrapper .about-content-wrapper .about-text-content h2 {
    font-size: 2em;
    padding: 0;
    margin-left: 0%;
  }
  .page-container .body-wrapper .body-content-wrapper .about-content-wrapper .about-text-content p {
    padding: 0 3em 0 0;
    margin-left: 0%;
  }
  .page-container .body-wrapper .body-content-wrapper .about-content-wrapper img {
    width: 80%;
  }
  .page-container .body-wrapper .body-content-wrapper .contact-wrapper {
    width: 100%;
    margin-bottom: -5em;
  }
}/*# sourceMappingURL=home.css.map */